<div class="main_div1">
  <nav class="main-nav navbar ps-5 pt-5  navbar-expand-lg">
    <a class="navbar-brand"href="#"></a>
     <%= image_tag('Group-22.png',alt: "books",id:"logo") %>
      <ul class="navbar-nav ms-auto me-5">
        <li class="nav-item custom-nav-link">
          <a class="nav-link text-light h4 px-5 p-1" href="/index">Home
          <%= image_tag('projectpaw.png',alt: "books",class:"img-hover") %></a></a>

        </li>
        <li class="nav-item custom-nav-link active">
          <a class="nav-link text-light h4 px-5 p-1" href="/aboutus">About us</a>
        </li>
        <li class="nav-item custom-nav-link">
          <a class="nav-link text-light h4 px-5 p-1" href="/posts">Adopt a pet
          <%= image_tag('projectpaw.png',alt: "books",class:"img-hover") %>
          </a>
        </li>
        <li class="nav-item custom-nav-link">
          <a class="nav-link text-light h4 px-5 p-1" href="/list">Rehome a pet
          <%= image_tag('projectpaw.png',alt: "books",class:"img-hover") %>
          </a>
        </li>
         <li class="nav-item custom-nav-link">
        <% if @presence==0 %>
          <a class="nav-link text-light h4 px-5 p-1" href="/register">My account
          <%= image_tag('projectpaw.png',alt: "books",class:"img-hover") %>
          </a> 
          <% else %>
          <% logged_user = User.find(session[:current_user_id]) %>
          <button class="btn btn dropdown-toggle" id="user_button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= logged_user["first_name"]%></button>
          <div class="dropdown-menu" id="dropdown-box" aria-labelledby="dropdownMenu2">
            <a href="/user_profile" class="dropdown-item" type="button">user profile</a>
            <a href="/logout" class="dropdown-item" type="button" data-method="delete">Log out</a>
          </div>
          </a> 
        <% end %> 
        </li>
        
      </ul>
    </nav>

  <h1 style="font-size:5vw;" id="aboutus-text">"Make the future bright for Dogs"</h1>
 </div>
<%= image_tag('aboutus1.png',alt: "books",id:"about-us-img") %>
<div class="aboutus-introduction">
<h1>Our Introduction</h1>
<p style="font-size:1.5vw;"> How many times have you seen an abandoned and hurt animals?
Have you taken it home and not had facilities to take care of it? Well we are here
to solve your worries. At Dogster we have the perfect solution for all of us 
.We Re-Home animals from owners who are unable 
to manage their pets. so, come to us for your dog worries!!! </p>
</div>
<div class="features-icon">

<%# <span class="rescue-icon">
<%= image_tag('rescue.png',alt: "books",id:"feature1") %> 
<%# <h2 style="font-size:2vw;">Rescue</h2>
<p style="font-size:1.2vw;">We rescue the dogs which needs<br> help in your area. </p>
</span>  %>
 <span class="rehome-icon">
<%= image_tag('rehome-icon.png',alt: "books",id:"feature2") %>
 <h2 style="font-size:2vw;">Rehome</h2>
 <p style="font-size:1.2vw;">We help your pet to find a new home <br> with same love you showed. </p>
</span> 
<span class="adopt-icon">
<%= image_tag('adopt-icon.png',alt: "books",id:"feature3") %>
<h2 style="font-size:2vw;">Adopt</h2>
<p style="font-size:1.2vw;">If you are looking for new pet<br> Don't buy just adopt.</p>
</span> 
</div>
<div class="faq-container">
<%= image_tag('aboutus-faq.png',alt: "books",id:"faq-img") %>
<div class="aboutus-content">

 <h3 style="font-size:1.5vw;">01. What kind of do we provide</h3>
 <p style="font-size:1vw;">The Dogster  is a pet lover’s other best friend — second only,
  of course, to your Pet. The Dogster is the easiest way for pet 
  parents to find a new dog and rescuing a dog. </p>

 <h3 style="font-size:1.5vw;">02. What is your benefits of choose us</h3>
 <p style="font-size:1vw;">But it’s not just about pet love. The Dogster is also committed
  to making pet rehoming safe, easy so that everyone can experience the
   unconditional love of a pet. Whatever you and your furr babies are into, we’re into it too.
    And we’ve got your back. Anytime. Anywhere.</p>

 <h3 style="font-size:1.5vw;">03. What is our goal and destination</h3>
 <p style="font-size:1vw;">
 To promote humane treatment, compassion and respect for all animals.
 <br>To match adoptable cats and dogs with loving families who will provide them with care
  and attention for the rest of their natural lives;
  <br>To provide the highest level of care to every animal who enters our programs and immediate
   veterinary treatment to sick or injured cat and dogs;</p>
 </div>
</div>


<div class="footer-widget-area">
<div class="footer-widget-area-about">
<h3 style="font-size:1.5vw;">Dogster</h3>
 <p style="font-size:1.2vw;">We are here to make sure that all dogs are safe and are taken care of.</p>
</div>
<div class="footer-widget-area-title">
<h3 style="font-size:1.5vw;">Opening Hours</h3>
 <p style="font-size:1.2vw;">
Our support available to help you 24 hours a day. We provide our best.</p>
</div>
<div class="footer-widget-area-contact">
<h3 style="font-size:1.5vw;">Contact Info</h3>
 <p style="font-size:1.2vw;">Lit sed The Best in dolor sit amet consectetur

<br><i class='bx bx-current-location' ></i> 99 S.t Seoul Park Pekanbaru 28292. South Korea

<br><i class='bx bx-mobile'></i> +820123456789
<br><i class='bx bxl-telegram' ></i>  valkuta@themedraft.net.</p>
</div>
</div><br>

<div class="footer-div">
<h3>Dogster | Developed by: vaishnavi paramathma</h1>
<h4>© Dogster 2022 | All Right Reserved</h4>
</div>
