<div class="rehome-main_div">
  <nav class="main-nav navbar ps-5 pt-5  navbar-expand-lg">
    <a class="navbar-brand"href="#"></a>
     <%= image_tag('Group-22.png',alt: "books",id:"logo") %>
      <ul class="navbar-nav ms-auto me-5">
        <li class="nav-item custom-nav-link">
            <a class="nav-link text-light h4 px-5 p-1" href="/index">Home
              <%= image_tag('projectpaw.png',alt: "books" ,class:"img-hover") %>
            </a>
          </li>
        <li class="nav-item custom-nav-link">
          <a class="nav-link text-light h4 px-5 p-1" href="/aboutus">About us
          <%= image_tag('projectpaw.png',alt: "books",class:"img-hover") %></a>
        </li>
        <li class="nav-item custom-nav-link">
          <a class="nav-link text-light h4 px-5 p-1" href="/posts">Adopt a pet
          <%= image_tag('projectpaw.png',alt: "books",class:"img-hover") %></a>
          </a>
        </li>
        <li class="nav-item custom-nav-link active">
          <a class="nav-link text-light h4 px-5 p-1" href="/list">Rehome a pet
          </a>
        </li>
      
         <li class="nav-item custom-nav-link">
        <% if @presence==0 %>
          <a class="nav-link text-light h4 px-5 p-1" href="/register">My account
          <%= image_tag('projectpaw.png',alt: "books",class:"img-hover") %>
          </a> 
          <% else %>
          <% logged_user = User.find(session[:current_user_id]) %>
          <button class="btn btn dropdown-toggle" id="user_button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= logged_user["first_name"]%></button>
          <div class="dropdown-menu" id="dropdown-box" aria-labelledby="dropdownMenu2">
            <a href="/user_profile" class="dropdown-item" type="button">user profile</a>
            <a href="/logout" class="dropdown-item" type="button" data-method="delete">Log out</a>
          </div>
          </a> 
        <% end %> 
        </li>
        
      </ul>
    </nav>

  <hr>
  <div class="rehome-main-container">
      
       
      <%= form_with(method: :post, url: "add_animals") do |f| %>
      <%= hidden_field_tag 'authenticity_token', value: "form_authenticity_token" %>

        <div class="list-container"> 
          <br><h1>Pet Details</h1>         
           <% if flash[:error]%>
                  <p class = "flash-error_rehome_page"><%= flash[:error]%></p>
                <%end%>
           <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Petname">Pet's Name</label>
               <%= f.text_field "animal[dog_name]", class: "form-control", id: "input-pet-name", required:"true" %>
             
            </div>
            <div class="form-group col-md-6">
              <label for="petbreed">pet Breed</label>
              <%= f.text_field "animal[breed]", class: "form-control",id: "input-pet-breed", required:"true" %>
              
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="petgender">Pet Gender</label>
             <%= f.text_field "animal[gender]",  class: "form-control",id: "input-pet-gender", required:"true"  %>
            </div>
            <div class="form-group col-md-6">
              <label for="petage">Pet Age</label>
               <%= f.number_field "animal[age]", class: "form-control", id:"input-pet-age", required:"true" %>
              
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="petneutered">Pet Neutered</label>
              <div class="select-option"><%= f.select "animal[neutered]", options_for_select([["Yes",1],["No",0]]),class: 'form-control', id:"input-pet-neutered", required:"true" %></div>
            </div>
            <div class="form-group col-md-6">
              <label for="petvaccine">Pet Vaccination</label>
              <%= f.select "animal[vaccinated]", options_for_select([["Yes",1],["No",0]]), class:"form-control",id:"input-pet-vaccine", required:"true" %>
              
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="GoodWithDogs">Pet is good with dogs</label>
               <%= f.select "animal[good_with_dogs]", options_for_select([["Yes",1],["No",0]]), class:"form-control",id:"input-dogs", required:"true" %>
             
            </div>
            <div class="form-group col-md-6">
              <label for="GoodWithCats">Pet is good with cats</label>
               <%= f.select "animal[good_with_cats]", options_for_select([["Yes",1],["No",0]]), class:"form-control",id:"input-cats", required:"true" %>
             
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="GoodWithKids">Pet is good with kids</label>
              <%= f.select "animal[good_with_kids]", options_for_select([["Yes",1],["No",0]]), class:"form-control",id:"input-kids", required:"true" %>
        
            </div>
            <div class="form-group col-md-6">
              <label for="PetImage">Pet image</label>
              <%= f.file_field "animal[image]",class:"form-control",id:"input-image", required:"true"%>
              
            </div>
          </div>
          <div class="form-group col-md-12">
            <label for="DonatePet">Why do you want to donate the pet</label>
            <%= f.text_area "animal[my_story]", class: "shortInput", id:"input-note",class:"form-control", required:"true" %>
            
          </div>

        <h2 id="input-h2">Personal Details</h2>
            <div class="form-row">
              
              <div class="form-group col-md-6">    
                <label for="OwnerPhoneNumber">Phone number</label>
                 <%= f.number_field "animal[ph_no]", class: "form-control", id: "input-ph-no", required:"true" %>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
              <label for="petage">State</label>
               <%= f.text_field "animal[state]", class: "form-control", id:"input-state", required:"true" %>
              </div>
              <div class="form-group col-md-6">
                <label for="OwnerCity">City</label>
                <%= f.text_field "animal[city]", class:"form-control",id:"input-city", required:"true"%>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label for="AdditionalGrommer">Additional note for groomer</label>
              <%= f.text_area "animal[:additional_adoption_info]", class: "shortInput", id:"input-note",class:"form-control", required:"true" %>
              
                
                
             <%= submit_tag "Submit", class: "input-submit"%>
             <%# <%=submit_tag "Clear form", class: "inputsubmit",id:"reset-button", :type => 'reset'%> 
              
               
            </div>  
            <%end%>
            </div>
           
            
          <%#  <h6 > Rehome your pet stress-free

Rehoming or donating your pet should be easy and stress-free both for you and your pet.

ThePetNest, India's first pet care market place has taken the initiative to remove your pet where your pet will be home again. We have created a reliable, simple & free initiative to help you rehome your pet from your loving family directly to another family.

Here are some tips for putting your pet for adoption in a loving new home and family -

Make your pet look more attractive to potential new owners. Make sure your pet is vaccinated and checked by a veterinarian. Also, make sure your pet is spayed and neutered. This will make your cat or dog more likely to be chosen by a new owner.

Be transparent/clear with the new owner. Share all the details about your pet's personality and how they get along with cats, dogs, and people. Share your dog's or cat's favorite food, game, things, and any medical or behavior issues your pet is experiencing so that potential new adopters will have the information they need to determine if your cat or dog would be a good fit for their home and family.

Why rehome your pet?

ThePetNest provides adopters to meet and learn about cats or dogs from the owners who know them best.
Loving fur baby families keep their cats or dogs out of the shelter homes. By rehoming a cat or dog, they can find them loving & caring new family.
Shelter homes can focus only on limited resources for your pet.
Your cat or dog goes directly from one loving home to another potential owner. ThePetNest provides a stress-free pet adoption platform theryby reducing the chance of illness or discomfort.
How does pet rehoming work?

Fill in your personal and pet details in the form
Provide every detail of your pet including diet, medication, or existing illness if any.
Upload clear and attractive pictures of your pet for potential owners to see and explore.
Submit the details to ThePetNest. Your pet details would be seen by potentials owners.
Potential owners would contact you for more details if required and talk to them to see if they are a great fill for your fur baby.
ThePetNest is India's first pet care marketplace to provide an online pet adoption platform and community where people who want to adopt a dog or cat connect with people who need to rehome a dog or cat. The best possible way to care about your beloved pet is to keep them out of the shelter homes and rehoming your dog or cat to a loving family. Rehoming a dog or cat is the best kind of pet adoption, in every possible way.


</h6> %>
          
</div>


            