<div class="rehome-main_div">
  <nav class="main-nav navbar ps-5 pt-5  navbar-expand-lg">
    <a class="navbar-brand"href="#"></a>
     <%= image_tag('Group-22.png',alt: "books",id:"logo") %>
      <ul class="navbar-nav ms-auto me-5">
        <li class="nav-item-home">
          <a class="nav-link text-light h4 ps-5 p-1" href="#">Home</a>

        </li>
        <li class="nav-item-about">
          <a class="nav-link text-light h4 ps-5 p-1" href="/aboutus">About us
          <%= image_tag('projectpaw.png',alt: "books",class:"img-hover") %></a>
        </li>
        <li class="nav-item-adopt">
          <a class="nav-link text-light h4 ps-5 p-1" href="/posts">Adopt a pet
          <%= image_tag('projectpaw.png',alt: "books",class:"img-hover") %>
          </a>
        </li>
        <li class="nav-item-rehome">
          <a class="nav-link text-light h4 ps-5 p-1" href="/list">Rehome a pet
          <%= image_tag('projectpaw.png',alt: "books",class:"img-hover") %>
          </a>
        </li>
        <li class="nav-item-contact">
          <a class="nav-link text-light h4 ps-5 p-1" href="#"> Contact us
          <%= image_tag('projectpaw.png',alt: "books",class:"img-hover") %>
           </a>
        </li>
        <li class="nav-item-account">
          <% if @current_user == nil  %>
          <a class="nav-link text-light h4 ps-5 p-1" href="/register">My account
          <%= image_tag('projectpaw.png',alt: "books",class:"img-hover") %>
          </a> 
          <% else %>
          <a class="nav-link text-light h4 ps-5 p-1" href="#"><%= @current_user.first_name%>
          <%= image_tag('projectpaw.png',alt: "books",class:"img-hover") %>
          </a> 
        <% end %>
        </li>
        
      </ul>
    </nav>

  <hr>
  <div class="rehome-main-container">
      
       
      <%= form_with(method: :post, url: "add_animals") do |f| %>
        <div class="list-container"> 
          <br><h1>Pet Details</h1>         
          
           <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Petname">Pet's Name</label>
               <%= f.text_field "animal[dog_name]", class: "form-control", id: "input-pet-name", required:"true" %>
             
            </div>
            <div class="form-group col-md-6">
              <label for="petbreed">pet Breed</label>
              <%= f.text_field "animal[breed]", class: "form-control",id: "input-pet-breed", required:"true" %>
              
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="petgender">Pet Gender</label>
             <%= f.text_field "animal[gender]",  class: "form-control",id: "input-pet-gender", required:"true"  %>
            </div>
            <div class="form-group col-md-6">
              <label for="petage">Pet Age</label>
               <%= f.number_field "animal[age]", class: "form-control", id:"input-pet-age", required:"true" %>
              
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="petneutered">Pet Neutered</label>
              <%= f.select "animal[neutered]", options_for_select([["Yes"],["No"]]), class:"form-control",id:"input-pet-neutered", required:"true" %>
             
            </div>
            <div class="form-group col-md-6">
              <label for="petvaccine">Pet Vaccination</label>
              <%= f.select "animal[vaccinated]", options_for_select([["Yes"],["No"]]), class:"form-control",id:"input-pet-vaccine", required:"true" %>
              
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="GoodWithDogs">Pet is good with dogs</label>
               <%= f.select "animal[good_with_dogs]", options_for_select([["Yes"],["No"]]), class:"form-control",id:"input-dogs", required:"true" %>
             
            </div>
            <div class="form-group col-md-6">
              <label for="GoodWithCats">Pet is good with cats</label>
               <%= f.select "animal[good_with_cats]", options_for_select([["Yes"],["No"]]), class:"form-control",id:"input-cats", required:"true" %>
             
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="GoodWithKids">Pet is good with kids</label>
              <%= f.select "animal[good_with_kids]", options_for_select([["Yes"],["No"]]), class:"form-control",id:"input-kids", required:"true" %>
        
            </div>
            <div class="form-group col-md-6">
              <label for="PetImage">Pet image</label>
              <%= f.file_field "animal[image]",class:"form-control",id:"input-image", required:"true" %>
              
            </div>
          </div>
          <div class="form-group col-md-12">
            <label for="DonatePet">Why do you want to donate the pet</label>
            <%= f.text_area "animal[my_story]", class: "shortInput", id:"input-note",class:"form-control", required:"true" %>
            
          </div>

        <h2 id="input-h2">Personal Details</h2>
            <div class="form-row">
              
              <div class="form-group col-md-6">    
                <label for="OwnerPhoneNumber">Phone number</label>
                <input type="tel" class="form-control"  placeholder="Password" id="input-ph-no" name= "ph_no"  required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="OwnerState">State</label>
                <input type="text" class="form-control"  placeholder="Email" id="input-state" name="state" required>
              </div>
              <div class="form-group col-md-6">
                <label for="OwnerCity">City</label>
                <%= f.text_area "animal[additional_adoption_info]", class:"form-control",id:"input-city", required:"true" %>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label for="AdditionalGrommer">Additional note for grommer</label>

              <textarea class="form-control"  placeholder="please enter addition details about Diet,health,Behaviour of your pet" id="input-note" name= "additional_info" required></textarea>
                
             <%= submit_tag "Accept Checked", :class => "btn btn-primary",id:"submit-button", required:"true" %>
             <%=submit_tag "Clear form", :class => "inputsubmit",id:"reset-button", :type => 'reset'%>
              
               
            </div>  
            <%end%>
            </div>
            
            <%# <%= form_authenticity_token %>
              <%# <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>
          
</div>


            