<div class="pet-section">
  <div class="vaishu">
    <nav class="main-nav navbar ps-5 pt-5  navbar-expand-lg">
      <a class="navbar-brand" href="#">
      </a>
      <%= image_tag('Group-22.png',alt: "books" ,id:"logo") %>
        <ul class="navbar-nav ms-auto me-5">
          <li class="nav-item custom-nav-link">
            <a class="nav-link text-light h4 px-5 p-1" href="/index">Home
              <%= image_tag('projectpaw.png',alt: "books" ,class:"img-hover") %>
            </a>
          </li>
          <li class="nav-item custom-nav-link">
            <a class="nav-link text-light h4 px-5 p-1" href="/aboutus">About us
              <%= image_tag('projectpaw.png',alt: "books" ,class:"img-hover") %>
            </a>
          </li>
          <li class="nav-item custom-nav-link active">
            <a class="nav-link text-light h4 px-5 p-1" href="/posts">Adopt a pet</a>
          </li>
          <li class="nav-item custom-nav-link">
            <a class="nav-link text-light h4 px-5 p-1" href="/list">Rehome a pet
              <%= image_tag('projectpaw.png',alt: "books" ,class:"img-hover") %>
            </a>
          </li>
         <li class="nav-item custom-nav-link">
          <% logged_user = User.find(session[:current_user_id]) %>
        <% if logged_user.present? %>
          <button class="btn btn dropdown-toggle" id="user_button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= logged_user["first_name"]%></button>
          <div class="dropdown-menu " aria-labelledby="dropdownMenu2">
            <a class=" ps-4" href="/user_profile"><button class="dropdown-item" type="button">user profile</button></a>
            <a href="/logout" class="dropdown-item" type="button" data-method="delete">Log out</a>
          </div>
          </a> 
          
          <% else %>
          <a class="nav-link text-light h4 ps-5 p-1" href="/register">My account
          <%= image_tag('projectpaw.png',alt: "books",class:"img-hover") %>
          </a> 
        <% end %>
          </li>
        </ul>
    </nav>
    <hr>
  </div>
  <div class="search-filters-container">
    <%= form_tag('/search', :method=> "get") do%>
      <div class="search-bar">
        <input type="text" name="search" placeholder="Search by city" class="search-input">
        <%= button_tag "Apply filter" , :class=>'apply-filter-button' %>
      </div>
      <% end %>
  </div>

  <div class="main-container">
    <% if @presence_value==0%>
      <% logged_user_id=session[:current_user_id] %>
        <% logged_user=User.find(logged_user_id) %>
          <% @animals_details.each do |ani| %>
             <% @posted_user = User.find(ani.users_id) %> 
           
            <div class="adopt-details">
              <div id="date">
                <%= "posted on: #{ani.created_at}" %>
              </div>
              <div>
              <a href="/user_profile/<%= ani['id']%>"data-method="post"> <i class='bx bx-heart' id="wishlist-icon"></i></a>
                <%= image_tag ani.image, class:"adopt-img"%>
              </div>
              
              <div class="adopt-body">
               <h1><% ani.users_id%></h1>
                <h1>
                  <%= "#{ani.dog_name}" %>
                </h1>
                <p id="gender">
                  <%= "#{ani.gender} ," %>
                </p>
                
                <p id="age">
                  <%= "#{ani.age} year old" %>
                </p> <br>
                <p id="state">
                  <%= "#{ani.state}, " %>
                </p>
                <p id="city">
                  <%= "#{ani.city}" %>
                </p>
                <hr>
                <h2>Owner details</h2>
              
                               <h1 id="own_name">
                                <%= @posted_user.first_name%>
                               </h1>

                              <h1 id="email">
                                <%= @posted_user.email%>
                               </h1>
               
                <a href="/post_dog/show/<%= ani.id%>">
                  <h3>See more details</h3>
                </a>
              </div>
            </div>
            <% end %>
              <% elsif @presence_value==1 and @search_params !=[]%>
                <% logged_user_id=session[:current_user_id] %>
                  <% logged_user=User.find(logged_user_id) %>
                    <% @animals_details.each do |ani|%>
                      <% @posted_user = User.find(ani.users_id) %>
                      <% if @search_params.include? ani.id %>
                       
                          <div class="adopt-details">
                          <div id="date">
                              <%= "posted on: #{ani.created_at}" %>
                            </div>
                            <div>
                            <a href="/user_profile/<%= ani['id']%>"data-method="post"> <i class='bx bx-heart' id="wishlist-icon"></i></a>
                              <%= image_tag ani.image, class:"adopt-img"%>
                            </div>
                            
                            <div class="adopt-body">
                              <h1>
                                <%= "#{ani.dog_name}" %>
                              </h1>
                              <p id="gender">
                                <%= "#{ani.gender} ," %>
                              </p>
                              <p id="age">
                                <%= "#{ani.age} year old" %>
                              </p> <br>
                              <p id="state">
                                <%= "#{ani.state}, " %>
                              </p>
                              <p id="city">
                                <%= "#{ani.city}" %>
                              </p>
                              <hr>
                              <h2>Owner details</h2>
                              <p id="own_name">
                                <%= @posted_user.first_name%>
                              </p>

                              <p id="email">
                                <%= @posted_user.email%>
                              </p>
                              
                              <a href="/post_dog/show/<%= ani.id%>">
                                <h3>See more details</h3>
                              </a>
                            </div>
                          </div>
                          <% end %>
                      
  
  
  <% end %>
    <% elsif @search_params==[] and @presence_value==1 %>
      <div class="h1" style="background-color: blue;"> Hello </div>
    <%end%> 
    <%# <div id = "pagination"><%= pagy_nav(@pagy).html_safe %> 
    <%# </div> %>
      

