

<%@animals_details.each do |ani|%>
<div>
  <%= image_tag(ani.image)%>
  </div>
 <div> 
  <%= "pet's name:#{ani.dog_name}" %>
  </div>
  <div>
  <%= "pet's name:#{ani.breed}" %>
  </div>
  <div>
  <%= "pet's name:#{ani.gender}" %>
  </div>
  <div>
  <%= "pet's name:#{ani.age}" %>
  </div>
  <div>
  <%= "pet neutered:#{ani.neutered}" %>
  </div>
  <div>
  <%= "pet neutered:#{ani.vaccinated}" %>
  </div>
  <div>
  <%= "pet neutered:#{ani.good_with_dogs}" %>
  </div>
  <div>
  <%= "pet neutered:#{ani.good_with_cats}" %>
  </div>
  <div>
  <%= "pet is good with kids:" %>
  <% if ani.good_with_kids == 1 %>
      Yes it is good with kids
  <% else %>
    No it is not good with kids
  <% end %>
 
   
 
  </div>
  <div>
  <%= "pet's name:#{ani.my_story}" %>
  </div>
  <div>
  <%= "pet's name:#{ani.owner_name}" %>
  </div>
  <div>
  <%= "pet's name:#{ani.ph_no}" %>
  </div>
  <div>
  <%= "pet's name:#{ani.state}" %>
  </div>
  <div>
  <%= "pet's name:#{ani.city}" %>
  </div>
  <div>
  <%= "pet's name:#{ani.additional_info}" %>
  </div>
<%end%>